export PIZZA_RUN_MODE="cloud"
export PIZZA_CLOUD_BOOTSTRAP_SERVERS="pkc-n3603.us-central1.gcp.confluent.cloud:9092"
export PIZZA_CLOUD_API_KEY="REPLACE_ME"
export PIZZA_CLOUD_API_SECRET="REPLACE_ME"
export PIZZA_CLOUD_CONSUMER_GROUP="ch14-action03-hello-cloud-demo"
